#hd{
    h1{
        img{
            max-width: 200px;
        }
    }
    .gnb{
        li{
            a{
                text-decoration: none;
                color: white;
            }

        }
    }
}
